* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#top-bar {
  height: 50px;
  width: 80%;
  background-color: #f8dde6;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

#top-bar p i {
  color: red;
  margin-right: 10px;
}

#navbar {
  height: 80px;
  width: 80%;
  background-color: #b37489;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

#navbar h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#navbar .cart {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
  font-size: 18px;
}

#navbar .cart p {
  height: 22px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 50%;
  background-color: red;
  color: white;
}

.container_part {
  height: 500px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

#root {
  width: 70%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sidepart {
  width: 30%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  /* border: 1px solid red; */
}

.head {
  background-color: #7bdab8;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
}

.cart-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(205, 56, 56);
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d3d39e;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  line-height: 20px;
  /* margin-right: 20px; */
  height: 400px;
  width: 350px;
  padding-top: 20px;
}

.img_part {
  width: 50%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: 20px; */
}

.det_part {
  height: 300px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-left: 20px; */
}

img {
  width: 250%;
  height: 120%;
}

button {
  border: none;
  width: 180px;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

h2 {
  font-size: 20px;
  color: rgb(8, 7, 7);
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}

.fa-trash:hover {
  cursor: pointer;
  color: #333;
}
